[submodule "shiro-example"]
	path = shiro-example
	url = https://github.com/zhangkaitao/shiro-example.git
[submodule "servlet3-showcase"]
	path = servlet3-showcase
	url = https://github.com/zhangkaitao/servlet3-showcase.git
[submodule "spring4-showcase"]
	path = spring4-showcase
	url = https://github.com/zhangkaitao/spring4-showcase.git
[submodule "spring-tutorials"]
	path = spring-tutorials
	url = https://github.com/eugenp/tutorials.git
