[submodule "shiro-example"]
	path = shiro-example
	url = https://github.com/zhangkaitao/shiro-example.git
[submodule "servlet3-showcase"]
	path = servlet3-showcase
	url = https://github.com/zhangkaitao/servlet3-showcase.git
[submodule "spring4-showcase"]
	path = spring4-showcase
	url = https://github.com/zhangkaitao/spring4-showcase.git
[submodule "spring-tutorials"]
	path = spring-tutorials
	url = https://github.com/eugenp/tutorials.git
[submodule "java-persistence-with-mybatis3"]
	path = java-persistence-with-mybatis3
	url = https://github.com/sivaprasadreddy/Java-Persistence-with-MyBatis3.git
[submodule "spring-demo-apps"]
	path = spring-demo-apps
	url = https://github.com/sivaprasadreddy/spring-samples.git
[submodule "simple-shiro-web-app"]
	path = simple-shiro-web-app
	url = https://github.com/pires/simple-shiro-web-app.git
[submodule "apache-shiro-tutorial-webapp"]
	path = apache-shiro-tutorial-webapp
	url = https://github.com/lhazlewood/apache-shiro-tutorial-webapp.git
[submodule "spring-data-jpa-examples"]
	path = spring-data-jpa-examples
	url = https://github.com/pkainulainen/spring-data-jpa-examples.git
[submodule "spring-data-noxml"]
	path = spring-data-noxml
	url = https://github.com/Fruzenshtein/spr-data.git
[submodule "springmvc-security-example"]
	path = springmvc-security-example
	url = https://github.com/Fruzenshtein/security-spr.git
[submodule "springmvc-hibernate-example"]
	path = springmvc-hibernate-example
	url = https://github.com/Fruzenshtein/spr-mvc-hib.git
[submodule "levelup-java-examples"]
	path = levelup-java-examples
	url = https://github.com/leveluplunch/levelup-java-examples.git
[submodule "gradle-learning"]
	path = gradle-learning
	url = https://github.com/davenkin/gradle-learning.git
