<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	
	<session-config>
		<session-timeout>30</session-timeout>
	</session-config>
	
	<!-- Register Spring Listener -->
	
  	<listener>
        <listener-class>
	     org.springframework.web.context.ContextLoaderListener
        </listener-class>
  	</listener>
	
	<listener>
		<listener-class>
			com.sun.xml.ws.transport.http.servlet.WSServletContextListener
		</listener-class>
	</listener>
	
	<servlet>
		<servlet-name>sayhello</servlet-name>
		<servlet-class>
			com.sun.xml.ws.transport.http.servlet.WSServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>sayhello</servlet-name>
		<url-pattern>/sayhello</url-pattern>
	</servlet-mapping>
	
	<servlet>
       <servlet-name>jaxws-servlet</servlet-name>
       <servlet-class>
	      com.sun.xml.ws.transport.http.servlet.WSSpringServlet
       </servlet-class>
  	</servlet>
 
	<servlet-mapping>
    	<servlet-name>jaxws-servlet</servlet-name>
    	<url-pattern>/hello</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
    	<servlet-name>jaxws-servlet</servlet-name>
    	<url-pattern>/jaxws-spring</url-pattern>
    </servlet-mapping>
    
  	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>