<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jee="http://www.springframework.org/schema/jee" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-3.2.xsd 
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.2.xsd 
	http://www.springframework.org/schema/jee 
	http://www.springframework.org/schema/jee/spring-jee-3.2.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
	http://www.springframework.org/schema/jdbc 
	http://www.springframework.org/schema/jdbc/spring-jdbc-3.2.xsd 
	http://www.springframework.org/schema/task 
	http://www.springframework.org/schema/task/spring-task-3.2.xsd">
	
	<jdbc:initialize-database data-source="dataSource" ignore-failures="DROPS" enabled="false">
        <jdbc:script location="classpath:jdbc.sql"/>
    </jdbc:initialize-database>
	
	<bean id="queryDslJdbcTemplate" class="org.springframework.data.jdbc.query.QueryDslJdbcTemplate">
		<constructor-arg name="dataSource" ref="dataSource"></constructor-arg>
	</bean>
	
	<bean id="jdbcTemplate" class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="simpleJdbcCall" class="org.springframework.jdbc.core.simple.SimpleJdbcCall">
		<constructor-arg name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="simpleJdbcInsert" class="org.springframework.jdbc.core.simple.SimpleJdbcInsert">
		<constructor-arg name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="namedParameterJdbcTemplate" class="org.springframework.jdbc.core.namedparam.NamedParameterJdbcTemplate">
		<constructor-arg name="dataSource" ref="dataSource"/>
	</bean>
	
	<bean id="employeeDAO" class="org.spring.jdbc.tutorials.dao.impl.EmployeeDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	<bean id="jdbcEmployeeDAOImpl" class="org.spring.jdbc.tutorials.dao.impl.JdbcEmployeeDAOImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>
	
	
	<bean id="customerMappingSqlQuery" class="org.spring.jdbc.tutorials.CustomerMappingSqlQuery">
		<constructor-arg name="dataSource" ref="dataSource"></constructor-arg>
	</bean>
	
	<bean id="customerSqlUpdate" class="org.spring.jdbc.tutorials.CustomerSqlUpdate">
		<constructor-arg name="dataSource" ref="dataSource"></constructor-arg>
	</bean>
	
	
	<bean id="JdbcCustomerDAO" class="org.spring.jdbc.tutorials.dao.impl.JdbcCustomerDAO">
		<property name="jdbcTemplate" ref="jdbcTemplate" />
		<property name="simpleJdbcCall" ref="simpleJdbcCall" />
		<property name="queryDslJdbcTemplate" ref="queryDslJdbcTemplate"/>
		<property name="namedParameterJdbcTemplate" ref="namedParameterJdbcTemplate"/>
		<property name="simpleJdbcInsert" ref="simpleJdbcInsert"/>
		<property name="customerMappingSqlQuery" ref="customerMappingSqlQuery"/>
		<property name="customerSqlUpdate" ref="customerSqlUpdate"/>
	</bean>
	
	
	<bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="com.mysql.jdbc.Driver" />
		<property name="url" value="jdbc:mysql://localhost:3306/sjdbc" />
		<property name="username" value="root" />
		<property name="password" value="" />
	</bean>
	
</beans>
